/* Container */
.nav-container {
  width: 95%;

  padding: 12px 24px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

/* Logo Section */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo span {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.nav-logo img {
  height: 32px;
}

/* Nav Links */
.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

.nav-links a {
  color: #dcdcdc;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #ffffff;
}

/* Launch Button */
.launch-btn {
  padding: 10px 22px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.22);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s ease;
}

.launch-btn:hover {
  background: rgba(255, 255, 255, 0.32);
}

/* Mobile Styles */
.menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 24px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

/* SMALL SCREENS */
@media (max-width: 850px) {
.nav-container{
    width: 87vw;
}

  .nav-links {
    position: absolute;
    top: 80px;
    right: 20px;
    width: 230px;
    padding: 20px;
    flex-direction: column;
    gap: 18px;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(14px); /* REAL GLASS */
    -webkit-backdrop-filter: blur(14px);
    
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.15);

    opacity: 0;
    pointer-events: none;
    transform: translateY(-15px);
    transition: 0.3s ease;
    z-index: 9999; /* IMPORTANT */
  }

  .menu-toggle:checked ~ .nav-links {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .hamburger {
    display: flex;
  }

  .launch-btn {
    display: none;
  }
}
